
angularlicious-workspace/node_modules/
resources/
angularlicious-workspace99/
angularlicious-workspace/libs/titanium/node_modules/*
angularlicious-workspace/apps/firebase-auth/src/assets/config/
angularlicious-workspace/libs/firebase/src/lib/firebaseConfig\.json
angularlicious-workspace/version\.js
