<!-- GENERAL JAVASCRIPT ERROR -->
<div class="col-md-4">
    <div class="card card-chart">
        <div class="card-header card-header-success">
            <!-- <div class="ct-chart" id="dailySalesChart"></div> -->
            Error Handling
        </div>
        <div class="card-body">
            <h4 class="card-title">Create General Error</h4>
            <p class="card-category">
              <button type="button" (click)="createError($event)">Create Error</button>
                </p>
        </div>
        <div class="card-footer">
            <div class="stats">
                <i class="material-icons">access_time</i> updated 4 minutes ago
            </div>
        </div>
    </div>
</div>

<!-- APPLICATION ERROR  -->
<div class="col-md-4">
    <div class="card card-chart">
        <div class="card-header card-header-success">
            <!-- <div class="ct-chart" id="dailySalesChart"></div> -->
            Error Handling
        </div>
        <div class="card-body">
            <h4 class="card-title">Create Application Error</h4>
            <p class="card-category">
              <button type="button" (click)="createAppError()">Create Error</button>
                </p>
        </div>
        <div class="card-footer">
            <div class="stats">
                <i class="material-icons">access_time</i> updated 4 minutes ago
            </div>
        </div>
    </div>
</div>

<!-- GENERAL HTTP ERROR  -->
<div class="col-md-4">
    <div class="card card-chart">
        <div class="card-header card-header-success">
            <!-- <div class="ct-chart" id="dailySalesChart"></div> -->
            Error Handling
        </div>
        <div class="card-body">
            <h4 class="card-title">Create HTTP Error</h4>
            <p class="card-category">
              <button type="button" (click)="createHttpError()">Create Error</button>
                </p>
        </div>
        <div class="card-footer">
            <div class="stats">
                <i class="material-icons">access_time</i> updated 4 minutes ago
            </div>
        </div>
    </div>
</div>

<!-- API RESPONSE ERROR  -->
<div class="col-md-4">
    <div class="card card-chart">
        <div class="card-header card-header-success">
            <!-- <div class="ct-chart" id="dailySalesChart"></div> -->
            Error Handling
        </div>
        <div class="card-body">
            <h4 class="card-title">Create Http/API Error</h4>
            <p class="card-category">
              <button type="button" (click)="createHttpApiError()">Create Error</button>
                </p>
        </div>
        <div class="card-footer">
            <div class="stats">
                <i class="material-icons">access_time</i> updated 4 minutes ago
            </div>
        </div>
    </div>
</div>